<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="cache-control" content="no-cache">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="//unpkg.com/@atlassian/aui@8.7.0/dist/aui/aui-prototyping.css" media="all">
  <link rel="stylesheet" href="/static/css/unauthorized.css" type="text/css">
  <script src="https://connect-cdn.atl-paas.net/all.js"></script>
</head>
<body>
  <div class="aui-page-panel">
    <div class="aui-page-panel-inner">
      <section class="aui-page-panel-content">
        <div class="aui-message aui-message-error">
          <p class="title">
            <strong>Unauthorized</strong>
          </p>
          <p>{{message}}</p>
        </div>
      </section>  
    </div>
  </div>
</body>
</html>
