// ADG Colors
// See: https://atlassian.design/guidelines/brand/color

// Reds
$R300:  #FF5630;

// Yellows
$Y100:  #FFE380;

// Purples
$P500:  #403294;
$P75:   #C0B6F2;

// Neutrals
$N700:  #253858;
$N500:  #42526E;
$N100:  #7A869A;
$N40:   #DFE1E6;
$N20:   #F4F5F7;
$N0:    #FFFFFF;
